body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.survey {
  max-width: 40em;
  margin: 0 auto;
}

.survey-question {
  word-wrap: break-word;
  margin-bottom: 1em;
}

.survey-choices {
  margin-bottom: 1em;
}

.survey-choice {
  min-height: 3em;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  word-wrap: break-word;
  border: 1px solid black;
}

.survey-choice:hover {
  background-color: lightblue;
}

.survey-choice-selected {
  background-color: lightgreen;
}

.survey-choice-selected:hover {
  background-color: lightgreen;
}

.question-form .form-group {
  margin-bottom: 2em;
}

.question-form button {
  margin-top: 0.5em;
}

.addchoice-button {
  margin-right: 0.5em;
}

.choice-stat {
  float: left;
  margin-bottom: 2em;
  margin-right: 1em;
  padding: 1em;
  background-color: lightgray;
}

.choice-label {
  font-weight: bold;
  padding-bottom: 1em;
}

.choice-graph {
  margin-bottom: 3em;
}
